# Ignore the project directory for IntelliJ IDEA
.idea/

# Ignore the directory for the Python virtual environment
venv/

# Installer logs for Python
pip-log.txt
# Directory that may be created when uninstalling packages
pip-delete-this-directory.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore settings for Visual Studio Code
.vscode/

# Ignore local history for Visual Studio Code
.history/
